include search_bar

mixin language-modifier(code, name)
    a.dropdown-item(onclick='window.location.replace(`/config/lang/' + code + '?q=${window.location}`)')
        button.invisible
            img.visible(src="/images/" + code + ".png" height="24")

mixin nav-bar(lang)
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark rounded")
        div(class="container-fluid d-flex")
            a(class="navbar-brand" href="/")
                img(src="https://sauveteurdudunkerquois.fr/wp-content/uploads/2021/09/LOGO-DUO.png" width="60" class="d-inline-block align-top" alt="")
                |  Sauveteurs du Dunkerquois
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse"  id="navbarNavDropdown")
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(class="nav-link active" aria-current="page" href="/")=(lang==="en" ? "Home" : "Accueil") 
                    li(class="nav-item")   
                        a(class="nav-link" href="/missions") Missions
                    li(class="nav-item")
                        a(class="nav-link" href="/sauveteurs")=(lang==="en" ? "Rescuers" : "Sauveteurs")
                    li(class="nav-item")
                        a(class="nav-link" href="/bateaux")=(lang==="en" ? "Boats" : "Bateaux")
                    li(class='nav-item dropdown')
                        a(class='nav-link dropdown-toggle' href='#' id='languageDropdown' role='button' data-bs-toggle='dropdown' aria-expand='false')=(lang==="en" ? "Language" : "Langue")
                        ul.dropdown-menu.dropdown-menu-dark.w-10(aria-labelledby='languageDropdown')
                            li
                                +language-modifier("fr", "Fr") 
                            li
                                +language-modifier("en", "En")
            +search-bar("Rechercher", "Search", "/search", lang)
    button.invisible(type="button" class="btn btn-outline-danger d-flex align-items-end justify-content-center") Konami Code ? 