extends layout
include shared/search_bar

mixin en-desc(data)
    p(class="card-text")=data.date.toLocaleDateString("en-US")
    p(class="card-text")=data.succes+ ' saved crew' + (data.succes > 1 ? 's' : '')
mixin fr-desc(data)
    p(class="card-text")=data.date.toLocaleDateString("fr-FR")
    p(class="card-text")=data.succes + (data.succes > 1 ? " équipages sauvés" : " équipage sauvé")
block content
    div.d-flex.flex-row.justify-content-center.mt-3
        div.card.mb-3(style="max-width: 500px")
            div.row.g-0
                div.card-body.darkmode2
                    h5.card-tytle=data.nom 
                    if lang === "en"
                        +en-desc(data)
                    else
                        +fr-desc(data)