extends layout

mixin date-naissance(date, lieu)
    p='Né' + (date ? ' le ' + date.toLocaleDateString() : '') + (lieu ? " à " + lieu : '')

mixin date-mort(date, lieu)
    p='Mort' + (date ? ' le ' + date.toLocaleDateString() : '') + (lieu ? " à " + lieu : '')

block content
    div.card.mb-3(style="max-width: 500px")
        div.row.g-0
            div.col-md-4
                img.img-fluid.rounded-start(src=data.photo)
            div.col-md-8
                div.card-body
                    h5.card-title=data.nom + ' ' + data.prenom
                    p.card-text=data.nombre_missions + " missions réalisées"
                    p.card-text=data.equipages_sauves + " équipages sauvés"
                    p.card-text=data.personnes_sauvees + " personnes sauvées"

     
